# Dependencies
node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Build output
dist/
build/

# Logs
*.log
logs/

test/e2e/test_data/*
test/e2e/output/*
test/e2e/out/*
example/
ledger
